*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100%;
}

/* Variables */
:root {
    /* Fonts */
    --ff-roboto: 'Roboto', sans-serif;
    --ff-playfair: 'Playfair Display', serif;

    /* Colors */
    --clr-white: #fff;
    --clr-light: #f3eed9;
    --clr-dark: #222c2a;
    --clr-primary: #824936;
}

/* Typography */
body {
    font-size: 1.25rem;
    font-family: var(--ff-roboto);
    font-weight: 400;
    color: var(--clr-dark);
}

h1,
h2 {
    font-family: var(--ff-playfair);
    font-size: 1.75rem;
    font-weight: 900;
    margin-block-end: 0.75em;
}

section {
    padding-block: 5rem;
}

p {
    margin-block-end: 0.75em;
}

img {
    margin-block-end: 1em;
}

.hero {
    min-height: 660px;
    padding-block: 0;
    text-align: center;
    margin-inline: auto;
    display: flex;
    align-items: center;
    background-color: var(--clr-light);
}

.hero__text {
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
    margin-block-end: 0.5em;
    text-transform: uppercase;
}

.hero__title {
    margin-block-end: 0;
    font-size: 3rem;
    line-height: 1em;
    color: var(--clr-primary);
}

.section-one__title {
    color: var(--clr-primary);
}

/* Utility Classes */
.container {
    width: 85%;
    margin-inline: auto;
    max-width: 1128px;
}

.section--dark {
    background-color: var(--clr-dark);
}

.section--light {
    background-color: var(--clr-white);
}

.section--primary {
    background-color: var(--clr-primary);
}

.title--dark {
    color: var(--clr-light);
}

.title--light {
    color: var(--clr-dark);
}

.text--dark {
    color: var(--clr-white);
}

@media (min-width: 800px) {
    img,
    p {
        margin-block-end: 0;
    }

    .row {
        display: flex;
        gap: 2em;
        justify-content: center;
    }

    .col {
        width: 100%;
    }

    .hero__title {
        font-size: 3.75rem;
    }
}
